@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
.burger i{
  width: 5%;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
header .containers {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  top: 0;
  padding: 1%;
  box-shadow: 5px 5px 5px 5px silver;
  /* background-image: linear-gradient(to right, #95106d, #5f1782); */
  background-color: white;
}

nav {
  flex: 1;
  text-align: right;
  margin: 0 auto;
}

nav ul li {
  display: inline-block;
  list-style: none;
  padding: 2%;
}

li a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: 'Signika Negative', sans-serif;
}

li a:hover {
  background: linear-gradient(to left, #95106d, #5f1782);
  /* transform: scale(1.1); */
  font-weight: bold;
  padding: 20px;
  font-size: 1.1rem;
  border-radius: 50%;
  transition: all ease-in-out 0.3s;
  color: white;
}

.logo h1 {
  font-family: 'Signika Negative', sans-serif;
  font-size: 2rem;
  background: -webkit-linear-gradient(black, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}

.hero-section {
  background-image: linear-gradient(to right, #95106d, #5f1782);
  padding: 150px 0px 0px;
}
.hero-text {
  grid-column: span 7;
  align-self: center;
  transition-property: transform;
  transition-duration: 3s;
  /* padding-left: 100px; */
}
.hero-text:hover{
  transform:translateY(-800px) ;
}
.hero-img {
  grid-column: span 5;
  align-self: center;
  transition-property: transform;
  transition-duration: 3s;
}
.hero-img:hover{
  transform:translateY(600px) ;
}

.hero-img img {
  width: 70%;
}

.hero-text p a img {
  width: 5%;
}

.hero-text h1 {
  font-family: 'Signika Negative', sans-serif;
  font-size: 2rem;
  color: white;
  padding-bottom: 4%;
}

.hero-text p {
  font-family: 'Signika Negative', sans-serif;
  font-size: 1rem;
  color: white;
  line-height: 2;
  padding-bottom: 3%;
}

.bottom-img {
  width: 100%;
  position: relative;
  top: 5px;
}

.services-section {
  padding: 150px 0 0;
}

.heading {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 4%;
}

.heading h1 {
  font-family: 'Signika Negative', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}

.heading h1::before {
  content: "";
  background: #95106d;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(59px);
}

.heading h1::after {
  content: "";
  background: #95106d;
  height: 20px;
  width: 30px;
  border-radius: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: block;
  transform: translateY(7px);
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  text-align: center;
  gap: 50px;
}
.service-1:hover, .service-2:hover, .service-3:hover{
/* transform: rotateX(360deg); */
/* box-shadow: 5px 5px 5px 5px silver; */
background-color: #95106d;
padding: 50px;
color: white;
border-radius: 50%;
}
.service-1, .service-2, .service-3{
  transition-property: transform, background-color, box-shadow, border-radius;
  transition-duration: 3s;
  padding: 50px;
}
.service-1 h2, .service-2 h2, .service-3 h2{
  text-transform: uppercase;
  margin-top: 15px;
  padding: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
}
.service-1 p, .service-2 p, .service-3 p{
  font-family: sans-serif;
  font-weight: 500;
  line-height: 1.5;
}
.services img {
  width: 60%;
  padding-bottom: 7%;
}
.button{
text-align: center;
margin: 0 auto;
padding-top: 3%;
padding-bottom:3% ;
}
.button button{
  box-shadow: none;
  border: none;
  padding: 6px 25px;
  border-radius: 20px;
  background-image: linear-gradient(to right, #95106d, #5f1782);
}
.button button a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.why-choose-us-section{
  padding: 150px 0 150px;
  background-color: gainsboro;
}
.why-choose-us-text,
.why-choose-us-img{
  grid-column: span 6;
  align-self: center;
}
.why-choose-us-img img{
  width: 100%;
}
.why-choose-us-text h1{
  font-family: 'Signika Negative', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  padding-bottom: 5%;
}
.why-choose-us-text ul li{
  line-height: 2;
  font-family: 'Signika Negative', sans-serif;
  font-weight: 400;
}
.what-client-say-section{
  padding: 150px 0 60px;
}
.testimonials-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  text-align: center;
  gap: 50px;
}
.testimonials-container img{
  width: 250px;
  height: 80px;
  width: 70px;
  border-radius: 50%;
  margin: 0 10px;
}
.testimonials{
  border-left: 4px solid #7b1798;
    margin-top: 50px;
    margin-bottom: 50px;
}
.testimonials h3{
  text-align: left;
  margin-left: 15%;
  font-family: 'Signika Negative', sans-serif;
  font-weight: 400;
  /* width: 100%; */
}
.user-details{
  display: inline-block;
  font-family: 'Signika Negative', sans-serif;
}

.icons-section{
  padding: 150px 0 100px;
  background: #f8f9fa;
}
.icon-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.icon-container img{
  width: 10%;
}


footer{
  background: linear-gradient(to left, #95106d, #5f1782);
  color: white;
  padding-bottom: 1%;
}
footer img{
  width: 100%;
}
.footer-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
  border-bottom: 10px dashed white;
  padding-bottom: 5%;
}
footer-box{
  padding: 20px;
}
footer-box.form-control{
  box-shadow: none!important;
  border: none;
  border-radius: 0;
  padding: 20px;
  margin-top: 25px;
  max-width: 250px;
}
footer-box.form-control:focus{
  outline: none;
  width: 100%;
  transition: all ease-in-out 0.5;
}
@media only screen and (max-width:991px){
  .containers nav ul{
    position: fixed;
    top: 0;
    left: -100%;
    width:100%;
    height: 100%;
    margin-left: 0;
    max-width: 350px;
    background-color: red;
    transition: all ease-in 0.3s;
    padding-bottom: 100px;
  }
  nav #show-burger:checked ~ ul{
    left: 0%;
  }
  .burger i{
    display: flex;
    cursor: pointer;
  }
  nav ul li{
    width: 80%;
    text-align: left;
    line-height: 4;
  }
  .grid{
    flex-direction: column;
  }
  .why-choose-us-text,.why-choose-us-img{
    grid-column: span 12;
  }
}
